.container {
    width: 600px;
    height: 400px;
    border: 1px dashed #EEEEEE;
}

#imgSelect {
    width: 77px;
    height: 77px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.imgFile {
    display: none;
}

.imgLook {
    width: 77px;
    height: 77px;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

.imgLook > img {
    width: 77px;
    height: 77px;
}

.imgDel {
    padding: 4px;
    text-align: center;
    font-size: 12px;
    font-family: 微软雅黑;
    background-color: #808080;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    display: none;
}

.imgDel:hover {
    opacity: 1;
}

#imgSelect:hover, .imgLook:hover {
    box-shadow: 0 0 5px grey;
}